<%= form_with(model: org, local: true) do |form| %>
  <% if org.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(org.errors.count, "error") %> prohibited this org from being saved:</h2>
      <ul>
      <% org.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :org_name, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :bio, id: :org_bio, class: 'form-control description' %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Org.categories, {}, { class: 'form-control' } %>
  </div>

  <%= form.hidden_field :fbID, id: :org_fbID %>

  <div class="field">
    <%= form.label :website %>
    <%= form.text_field :website, id: :org_website, class: 'form-control' %>
  </div>

  <div class="field">
    <%= label_tag 'photo_url', 'Photo URL' %>
    <%= form.text_field :photo_url, id: :org_photo_url, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit @org.new_record? ? 'Create Organization' : 'Update Organization', class: 'btn btn-success' %>
  </div>
<% end %>
