<% unless notice.blank? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="col-md-8">
  <div class="row">
    <h1 class="pill">Organizations</h1>
  </div>
  <div class="row">
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="col-sm-6 list-search">
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'form-control filterrific-periodically-observed',
          placeholder: 'Search organizations…'
        ) %>
      </div>
      <div  class="col-sm-6 list-categories">
        <%= f.select(
          :with_category,
          @filterrific.select_options[:with_category],
          { include_blank: 'Any category' },
          { class: 'form-control filter' }
        ) %>
      </div>
      <%# add an automated spinner to your form when the list is refreshed %>
      <%# render_filterrific_spinner %>
    <% end %>
  </div>

  <%= render(
    partial: 'orgs/list',
    locals: { orgs: @orgs }
  ) %>
</div>
