<%= render 'microdata/org' %>

<% @title = @org.name %>
<div class="page-title">
  <h1 class="pill"><%= @org.name %></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About <%= @org.name %>
        <% if @org.users.include? current_user %>
          <%= link_to 'Edit', edit_org_path(@org), { class: 'pull-right' } %>
        <% end %>
        </h3>
      </div>

      <div class="panel-body">
        <% unless @org.photo_url.empty? %>
          <img class="img img-responsive" src="<%= @org.photo_url %>" alt="<%= @org.name%> photo">
        <% end %>

        <% unless @org.bio.empty? %>
          <h3 class="org-headers">Description:</h3>
          <p><%= @org.bio %></p>
        <% end %>

        <% unless @org.website.empty? %>
        <div>
          <a href="<%= @org.website %>" target="_blank">
            <%= image_tag "social/website", class: 'social-icon' %>
          </a>
          <a href="<%= @org.website %>" target="_blank">
            <p><%= @org.name %> Online</p>
            <small><em><%= @org.website %></em></small>
          </a>
        </div>
        <% end %>
        <br>
        <% if @org.fb? %>
        <div>
          <a href="https://facebook.com/<%= @org.fbID %>" target="_blank">
            <%= image_tag "social/facebook", class: 'social-icon' %>
          </a>
          <a href="https://facebook.com/<%= @org.fbID %>" target="_blank">
            <p><%= @org.name %> on Facebook</p>
          </a>
          <div class="likebox-wrapper">
            <div class="fb-like" data-href="https://facebook.com/<%= @org.fbID %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
          </div>
        </div>
        <% end %>

        <% if @org.users.include? current_user %>
          <h3>Admins:</h3>
          <ul>
            <% @org.users.each do |user| %>
              <li><%= link_to user.full_name, user %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-6 right-hand-panel">
    <%# Upcoming Events %>
    <% upcoming = @org.events.where('end_date >= ?', Time.new).sort_by(&:start_date) %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body list-all show">
        <% if upcoming.empty? %>
        <div class="row">
          <%= @org.name %> has no upcoming events.
        </div>
        <% end %>
        <% upcoming.each do |event| %>
          <div class="row">
            <%= link_to event.title, event %> on <%= event.start_date.strftime("%A, %B %d, %Y") %>
          </div>
        <% end %>
      </div>
    </div>

    <%# Past Events %>
    <% past = @org.events.where('end_date < ?', Time.new).sort_by(&:start_date).reverse %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Past Events</h3>
      </div>
      <div class="panel-body list-all show">
        <% if past.empty? %>
        <div class="row">
          <%= @org.name %> has no past events.
        </div>
        <% end %>
        <% past.each do |event| %>
          <div class="row">
            <%= link_to event.title, event %> on <%= event.start_date.strftime("%A, %B %d, %Y") %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
