<% name = @org.name %>

<h1 class="pill">Organization Profile: <%= name %></h1><br>
<em><%= @org.tagline %></em>
<p id="notice"><%= notice %></p>

<div class="row">

  <div class="col-md-6">
    <div class="panel panel-default calendar-sidebar">
      <div class="panel-heading">
        <h3 class="panel-title">About <%= name %></h3>
      </div>
      <div class="panel-body">

        <h3>Description:</h3>
        <p><%= @org.tagline %></p>

        <a href="<%= @org.website %>"><%= name %> Website &#10140;</a> <br>
        <% unless @org.fbID.nil? %>
          <a href="https://facebook.com/<%= @org.fbID %>"><%= name %> on Facebook &#10140;</a>
        <% end %>

        <h3>Admins:</h3>
        <ul>
          <% @org.users.each do |user| %>
            <li><%= link_to user.full_name, user %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default calendar-sidebar">
      <div class="panel-heading">
        <h3 class="panel-title">Upcoming Events</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @org.events.each do |event| %>
            <li><%= link_to event.title, event %> on <%= event.start_date %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<%= link_to 'Edit', edit_org_path(@org) %>
