<h1 class="pill"><%= @user.full_name %></h1>

<div class="row user-profile">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6">
            <h3 class="org-headers">Information:</h3>
            <strong>Email: </strong> <%= @user.email %><br>

            <% unless @user.orgs.empty? %>
              <h3>Organizations:</h3>
              <ul>
                <% @user.orgs.each do |org| %>
                  <li><%= link_to org.name, org %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div class="col-sm-6">
            <img class="img img-responsive" src="<%= @user.image_url %>" alt="<%= @user.full_name%> photo">
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless @user.orgs.empty? %>
    <div class="col-md-6 right-hand-panel">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming Events</h3>
        </div>
        <div class="panel-body list-all show">
          <% @user.orgs.each do |org| %>
            <% unless org.events.empty? %>
            <div class="row org-name">
              <h4 class="org-name"><%= link_to org.name, org %></h4>
            </div>
            <% end %>
            <% org.events.each do |event| %>
              <div class="row event">
                <%= link_to event.title, event %> on <%= event.start_date.strftime("%A, %B %d, %Y") %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

</div>
