<% if (user) { %>
  <h1>Hello, <%= user.firstName %> <%= user.lastName %></h1> <br>
  ID: <%= user.id %> <br>
  FBID: <%= user.fbId %> <br>
  Email: <%= user.email %>
<% } else { %>
  // Should never get here...
  Please log in.
<% } %>
