<div class="row">
  <div class="col-md-8">
    <select class="form-control pull-left calendar-filter" disabled>
      <option>Filter Events by Category</option disabled>
    </select>
    <a class="btn btn-info pull-right calendar-create" href="/events/new">Add an Event</a>
    <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @events) do |date, meetings| %>
      <div class="date"><%= date.day %></div>
      <% meetings.each do |event| %>
        <div class="calendar-event">
          <%= link_to event.title, event %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default filled calendar-sidebar">
      <div class="panel-body text-center">
        <h3 class="pill">Welcome to</h3>
        <%= image_tag "logos/EventsAtPennLogotype" %>
        <br>
        <p class="intro">
          <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>
        </p>
        <br>
        <%= image_tag "logos/dplogo", class: "dp-logo" %>
      </div>
    </div>
  </div>

</div>
