<%= form_with(model: event, local: true, class: 'form-group') do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :fbID, id: :event_fbID %>

  <%= form.label :event_title, "Event Name" %>
  <%= form.text_field :title, id: :event_title, class: 'form-control' %>
  <%= form.label :org, "Host Organization" %>
  <%= form.select 'org', options_from_collection_for_select(current_user.orgs, :id, :name), {}, { class: 'form-control' } %>
  <%= form.label :category %>
  <%= form.select :category, Event.categories, {}, { class: 'form-control' } %>

  <div class="checkbox">
    <label>
      <%= form.check_box :twentyone, id: :event_twentyone, class: 'form-check-input checkbox-inline' %> Is this a 21+ event?
    </label>
  </div>

  <%= form.label :location %>
  <%= form.text_field :location, id: :event_location, class: 'form-control' %>

  <div class="checkbox">
    <label>
      <%= form.check_box :all_day, id: :event_all_day, class: 'form-check-input checkbox-inline', id: 'all-day-event' %> Is this an all-day event?
    </label>
  </div>

  <div class="row" id="date-and-time">
    <div class="col-sm-6 add-event-start">
      <%= form.label :start_date, "Start Time" %>
      <%= form.datetime_select :start_date %>
    </div>
    <div class="col-sm-6 add-event-end">
      <%= form.label :end_date, "End Time" %>
      <%= form.datetime_select :end_date %>
    </div>
  </div>
  <div class="row" id="date">
    <div class="col-xs-12">
      <%= form.label :start_date, "Event Date" %>
      <%= form.date_select :start_date, id: 'all_day_date' %>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker({
        useCurrent: false
      });
      $('#start_date-all-day').datetimepicker({
        format: 'MM/dd/YY'
      });

      $("#start_date").on("dp.change", function (e) {
          $('#end_date').data("DateTimePicker").minDate(e.date);
      });
      $("#end_date").on("dp.change", function (e) {
          $('#start_date').data("DateTimePicker").maxDate(e.date);
      });

      var all_day = document.getElementById('all-day-event');
      var date_time = document.getElementById('date-and-time');
      var date = document.getElementById('date');
      date.style['display'] = 'none';
      date_time.style['display'] = 'block';
      all_day.onchange = function() {
         if(this.checked) {
           date.style['display'] = 'block';
           date_time.style['display'] = 'none';
         } else {
           date.style['display'] = 'none';
           date_time.style['display'] = 'block';
         }
      };
    });
  </script>

  <!-- Commenting these out for the time being; probably won't do recurring events for MVP -->
  <!-- <%= form.label :recurring %>
  <%= form.check_box :recurring, id: :event_recurring, class: 'form-check-input' %>

  <%= form.label :recurrence_freq %>
  <%= form.text_field :recurrence_freq, id: :event_recurrence_freq, class: 'form-control' %>

  <%= form.label :recurrence_amt %>
  <%= form.number_field :recurrence_amt, id: :event_recurrence_amt, class: 'form-control' %> -->

  <%= form.label :description %>
  <%= form.text_area :description, id: :event_description, class: 'form-control description' %>

  <%= form.submit class: 'btn btn-success' %>
<% end %>
