<% content_for :head do %>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCI47lLK3V7idUtknKKO8YTIUFyCsPtWv4&libraries=places"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/geocomplete/1.7.0/jquery.geocomplete.min.js"></script>
<% end %>

<%= form_with(model: event, local: true, class: 'form-group') do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :fbID, id: :event_fbID %>

  <%= form.label :event_title, "Event Name" %>
  <%= form.text_field :title, id: :event_title, class: 'form-control' %>
  <%= form.label :org, "Host Organization" %>
  <%= form.select 'org', options_from_collection_for_select(current_user.orgs, :id, :name), {}, { class: 'form-control' } %>
  <%= form.label :category %>
  <%= form.select :category, Event.categories, {}, { class: 'form-control' } %>

  <div class="checkbox">
    <label>
      <%= form.check_box :twentyone, id: :event_twentyone, class: 'form-check-input checkbox-inline' %> Is this a 21+ event?
    </label>
  </div>

  <%= form.label :location %>
  <%= form.text_field :location, id: :event_location, class: 'form-control', 'data-geo': 'formatted_address' %>
  <input name="lat" type="text" style="display:none;">
  <input name="lng" type="text" style="display:none;">

  <div class="checkbox">
    <label>
      <%= form.check_box :all_day, id: :event_all_day, class: 'form-check-input checkbox-inline', id: 'all-day-event' %> Is this an all-day event?
    </label>
  </div>

  <div class="row" id="date-and-time">
    <div class="col-sm-6 add-event-start">
      <%= form.label :start_date, "Start Time" %>
      <%= form.datetime_select :start_date %>
    </div>
    <div class="col-sm-6 add-event-end">
      <%= form.label :end_date, "End Time" %>
      <%= form.datetime_select :end_date %>
    </div>
  </div>
  <div id="date">
    <%= form.label :event_date, "Event Date" %>
    <%= form.date_select :event_date %>
  </div>

  <script type="text/javascript">
    $(function () {
      $('#start_date').datetimepicker();
      $('#end_date').datetimepicker({
        useCurrent: false
      });
      $('#event_date').datetimepicker({
        format: 'MM/dd/YY'
      });

      $("#start_date").on("dp.change", function (e) {
          $('#end_date').data("DateTimePicker").minDate(e.date);
      });
      $("#end_date").on("dp.change", function (e) {
          $('#start_date').data("DateTimePicker").maxDate(e.date);
      });

      var all_day = document.getElementById('all-day-event');
      var date_time = document.getElementById('date-and-time');
      var date = document.getElementById('date');
      if (all_day.checked) {
        date.style['display'] = 'block';
        date_time.style['display'] = 'none';
      } else {
        date.style['display'] = 'none';
        date_time.style['display'] = 'block';
      }

      all_day.onchange = function() {
        if(this.checked) {
         date.style['display'] = 'block';
         date_time.style['display'] = 'none';
        } else {
         date.style['display'] = 'none';
         date_time.style['display'] = 'block';
        }
      };

      $(date).on('click', function() {
        var extra_cal = document.getElementById('ui-datepicker-div');
        if (extra_cal) {
          $(extra_cal).remove();
        };
      });
    });
    setTimeout(function () {
      $("#event_location").geocomplete({ details: "form" });
    }, 500);
  </script>

  <%= form.label :description %>
  <%= form.text_area :description, id: :event_description, class: 'form-control description' %>

  <%= form.submit class: 'btn btn-success' %>
<% end %>
