<% if current_user %>
<% content_for :fb_scripts do %>
  console.log('woot');
  FB.api(
    "/<%= @event.fbID %>/attending?fields=id,rsvp_status,name,picture{url}&limit=15&access_token=<%= access_token%>",
    function (response) {
      if (response && !response.error) {
        for (var i = 0; i < response.data.length; i++) {
          var attendee = response.data[i];
          console.log(attendee);
          var url = 'http://www.facebook.com/' + attendee.id
          var img = attendee.picture.data.url
          $('#faces').append("<a class='face' alt='" + attendee.name + "' href='" + url + "'><img src=" + img + "></img></a>")
        }
      }
      if (response.error) {
        console.error(response);
      }
    }
  );

  FB.api(
    "/<%= @event.fbID %>??fields=attending_count,interested_count,declined_count,noreply_count,can_guests_invite,ticket_uri,cover&access_token=<%= access_token%>",
    function (response) {
      if (response && !response.error) {
        /* handle the result */
        console.log(response);
      }
      if (response.error) {
        console.error(response);
      }
    }
  );

<% end %>
<% end %>

<% @title = @event.title %>
<div class="row">
  <div class="col-lg-6">
    <div class="page-title">
      <h1 class="pill"><%= @event.title %></h1>
    </div>
    <div class="panel panel-default filled list-all show-event">
      <p class="p-large mb5"><strong>Location:</strong> <%= @event.location %></p>

      <p class="p-large mb5"><strong>Time:</strong>
      <% if @event.start_date.to_date == @event.end_date.to_date %>
        <% if @event.all_day %>
          <%= @event.start_date.strftime("%A, %B %d, %Y, all day") %>
        <% else %>
          <%= @event.start_date.strftime("%A, %B %d, %Y from %l:%M %P") %>
          to <%= @event.end_date.strftime("%l:%M %P") %>
        <% end %>
      <% else %>
        From <%= @event.start_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
        to <%= @event.end_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
      <% end %>
      </p>

      <p class="p-large mb5"><strong>Hosted by:</strong> <%= link_to @event.org.name, @event.org %></p>

      <p class="p-large mb5"><strong>Category:</strong> <%= @event.display_category %></p>

      <% if @event.twentyone %>
        <p class="p-large mb5">This is a 21+ event!</p>
      <% end %>

      <% unless @event.description.blank? %>
        <p class="p-large mb5 mt20"><strong>Description:</strong></p>
        <p><%= @event.description %></p>
      <% end %>

      <% if @event.fb? %>
        <a href="https://facebook.com/events/<%= @event.fbID %>" target="_blank"><%= @event.title %> on Facebook &#10140;</a>
      <% end %>

      <% if @event.fb? %>
      <a class="row" href="https://facebook.com/events/<%= @event.fbID %>" target="_blank">
        <div class="col-xs-2">
          <%= image_tag "social/facebook", class: 'social-bottom' %>
        </div>
        <div class="col-xs-10">
          <p><%= @event.title %> on Facebook</p>
          <div class="faces" id="faces"></div>
        </div>
      </a>
      <% end %>

      <div class="row">
        <% if @event.org.users.include? current_user %>
          <%= link_to 'Edit this event', edit_event_path(@event) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
