<% if current_user %>
<% end %>

<% @title = @event.title %>
<% content_for :head do %>
<script>
  function renderMap() {
    var loc = {lat: <%= @event.location_lat %>, lng: <%= @event.location_lon %> };
    var cen = {lat: <%= @event.location_lat %> + .0025, lng: <%= @event.location_lon %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: cen,
      mapTypeControl: false,
      streetViewControl: false
    });
    var marker = new google.maps.Marker({
      position: loc,
      map: map
    });
    var infowindow = new google.maps.InfoWindow({
      content: `
        <center>
          <p><b><%= @event.location %></b></p>
          <br />
          <p><%= @event.title %> by <i><%= @event.org.name %></i></p>
        </center>
      `
    }).open(map, marker);
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

  function initMap() {
    $(document).ready(function() { renderMap() });
    $(document).on('turbolinks:load', function(e) { renderMap() });
  }
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI47lLK3V7idUtknKKO8YTIUFyCsPtWv4&callback=initMap">
  </script>
<% end %>
<div class="page-title">
  <h1 class="pill"><%= @event.title %></h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default filled show-event">
      <p class="p-large mb5"><strong>Location:</strong> <%= @event.location %></p>

      <p class="p-large mb5"><strong>Time:</strong>
      <% if @event.start_date.to_date == @event.end_date.to_date %>
        <% if @event.all_day %>
          <%= @event.start_date.strftime("%A, %B %d, %Y, all day") %>
        <% else %>
          <%= @event.start_date.strftime("%A, %B %d, %Y from %l:%M %P") %>
          to <%= @event.end_date.strftime("%l:%M %P") %>
        <% end %>
      <% else %>
        <%= @event.start_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
        to <%= @event.end_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
      <% end %>
      </p>

      <p class="p-large mb5"><strong>Hosted by:</strong> <%= link_to @event.org.name, @event.org %></p>

      <p class="p-large mb5"><strong>Category:</strong> <%= @event.display_category %></p>

      <% if @event.twentyone %>
        <p class="p-large mb5">This is a 21+ event!</p>
      <% end %>

      <% unless @event.description.blank? %>
        <p class="p-large mb5 mt20"><strong>Description:</strong></p>
        <p><%= @event.description %></p>
      <% end %>

      <% if @event.fb? %>
      <div>
        <a href="https://facebook.com/events/<%= @event.fbID %>" target="_blank">
          <%= image_tag "social/facebook", class: 'social-icon' %>
        </a>
        <a href="https://facebook.com/events/<%= @event.fbID %>" target="_blank"><%= @event.title %> on Facebook</a>
        <div id="rsvp">
          <a class='fb-button' href="https://facebook.com/events/<%= @event.fbID %>">RSVP</a>
        </div>
        <div class="faces" id="faces"></div>
      </div>
      <% end %>

      <% if @event.org.users.include? current_user %>
        <hr>
        <%= link_to 'Edit this event', edit_event_path(@event) %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 right-hand-panel">
    <% if @event.fb? %>
    <div class="panel panel-default filled fb-info-panel">
      <div id="fb-cover-photo"></div>
      <div class="row text-center fb-attendee-count">
        <div class="col-xs-4" id="fb-going">
        </div>
        <div class="col-xs-4" id="fb-interested">
        </div>
        <div class="col-xs-4" id="fb-invited">
        </div>
      </div>
    </div>
    <% end %>
    <% unless (@event.location_lat.nil? && @event.location_lon.nil?) || (@event.location_lat == 0 && @event.location_lon == 0) %>
      <div class="panel panel-default filled">
        <div id="map"></div>
      </div>
    <% end %>
  </div>
</div>

<% if @event.fb? %>
<script type="text/javascript">
function getFBEventInfo() {
  FB.api(
    "/<%= @event.fbID %>/attending?fields=id,rsvp_status,name,picture{url}&limit=15&access_token=<%= access_token%>",
    function (response) {
      if (response && !response.error) {
        for (var i = 0; i < response.data.length; i++) {
          var attendee = response.data[i];
          var url = 'http://www.facebook.com/' + attendee.id
          var img = attendee.picture.data.url
          $('#faces').append("<a class='face' alt='" + attendee.name + "' href='" + url + "'><img src=" + img + "></img></a>")
        }
      }
      if (response.error) {
        console.error(response);
      }
    }
  );

  FB.api(
    "/<%= @event.fbID %>?fields=id,attending_count,interested_count,declined_count,noreply_count,can_guests_invite,ticket_uri,cover&access_token=<%= access_token%>",
    function (response) {
      if (response && !response.error) {
        if (response.ticket_uri != null && response.ticket_uri != "") {
          $('#rsvp').append("<a class='fb-button' href='" + response.ticket_uri +"' target='_blank'>Tickets</a>")
        }
        $('#rsvp').append("&nbsp;" + response.attending_count + " people are attending.")
        $('#fb-cover-photo').append("<img src=" + response.cover.source + "></img>");
        $('#fb-going').prepend(response.attending_count + "<em>Attending</em>")
        $('#fb-interested').prepend(response.interested_count + "<em>Interested</em>")
        $('#fb-invited').prepend(response.noreply_count + "<em>Invited</em>")
      }
      if (response.error) {
        console.error(response);
      }
    }
  );
};
</script>
<% end %>
