<% @title = @event.title %>
<% content_for :head do %>
<script>
function initMap() {
  var loc = {lat: <%= @event.location_lat %>, lng: <%= @event.location_lon %> };
  var cen = {lat: <%= @event.location_lat %> + .0025, lng: <%= @event.location_lon %> };
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: cen,
    mapTypeControl: false,
    streetViewControl: false
  });
  var marker = new google.maps.Marker({
    position: loc,
    map: map
  });
  var infowindow = new google.maps.InfoWindow({
    content: `
      <center>
        <p><b><%= @event.location %></b></p>
        <br />
        <p><%= @event.title %> by <i><%= @event.org.name %></i></p>
      </center>
    `
  }).open(map, marker);
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}
</script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI47lLK3V7idUtknKKO8YTIUFyCsPtWv4&callback=initMap">
  </script>
<% end %>
<div class="page-title">
  <h1 class="pill"><%= @event.title %></h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default filled show-event">
      <p class="p-large mb5"><strong>Location:</strong> <%= @event.location %></p>

      <p class="p-large mb5"><strong>Time:</strong>
      <% if @event.start_date.to_date == @event.end_date.to_date %>
        <% if @event.all_day %>
          <%= @event.start_date.strftime("%A, %B %d, %Y, all day") %>
        <% else %>
          <%= @event.start_date.strftime("%A, %B %d, %Y from %l:%M %P") %>
          to <%= @event.end_date.strftime("%l:%M %P") %>
        <% end %>
      <% else %>
        <%= @event.start_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
        to <%= @event.end_date.strftime("%A, %B %d, %Y at %l:%M %P") %>
      <% end %>
      </p>

      <p class="p-large mb5"><strong>Hosted by:</strong> <%= link_to @event.org.name, @event.org %></p>

      <p class="p-large mb5"><strong>Category:</strong> <%= @event.display_category %></p>

      <% if @event.twentyone %>
        <p class="p-large mb5">This is a 21+ event!</p>
      <% end %>

      <% unless @event.description.blank? %>
        <p class="p-large mb5 mt20"><strong>Description:</strong></p>
        <p><%= @event.description %></p>
      <% end %>

      <% if @event.fb? %>
        <a href="https://facebook.com/events/<%= @event.fbID %>" target="_blank"><%= @event.title %> on Facebook &#10140;</a>
      <% end %>

      <% if @event.org.users.include? current_user %>
        <%= link_to 'Edit this event', edit_event_path(@event) %>
      <% end %>
    </div>
  </div>

<% unless (@event.location_lat.nil? && @event.location_lon.nil?) || (@event.location_lat == 0 && @event.location_lon == 0) %>
  <div class="col-sm-6">
    <div class="panel panel-default filled">
      <div id="map"></div>
    </div>
  </div>
<% end %>
</div>
