<%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @events) do |d, meetings| %>
  <div class="date" data-date="<%= "#{d.strftime("%Y-%m-%d")}" %>">
    <span class="date-num"><%= d.day %></span>
    <span class="mobile-weekday">
      <% weekdays = %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday] %>
      <%= weekdays[d.wday] %>
    </span>
  </div>
  <% meetings.take(3).each do |event| %>
    <div class="calendar-event">
      <%= link_to event.title, event, class: 'event-link' %>
    </div>
  <% end %>
  <% if meetings.length > 3 %>
    <div class="more-events">
      More (<%= meetings.length - 3 %>)
    </div>
  <% end %>
<% end %>
