<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Events@Penn" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Events@Penn" %>">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,900" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= google_tag_manager %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container-fluid main">
        <% if mobile_device? %>
        <div>
        <% else %>
          <div class="col-app">
        <% end %>
          <%= render 'layouts/messages' %>
          <%= render 'ads/leaderboard' %>
          <%= yield %>
        </div>

        <% unless mobile_device? %>
          <div class="col-ads">
            <%= render 'ads/rectangle1' %>
            <%= render 'ads/rectangle2' %>
          </div>
        <% end %>
      </div>
    </main>
    <div>
      <%= render 'ads/rectangle1' if mobile_device? %>
      <%= render 'ads/rectangle2' if mobile_device? %>
    </div>
    <footer>
      <%= render 'layouts/navbottom' %>
    </footer>
  </body>
</html>
