<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container-fluid main">
        <%= render 'layouts/messages' %>
        <div class="row">
          <div class="col-md-8">
            <%= form_for_filterrific @filterrific do |f| %>
              <div class="col-sm-3 list-categories">
              <%= f.select(
                :with_category,
                @filterrific.select_options[:with_category],
                { include_blank: 'Any category' },
                { class: 'form-control pull-left' }
              ) %>
              </div>
            <% end %>
            <% if user_signed_in? && !current_user.orgs.empty? %>
            <div class="col-sm-3 pull-right calendar-create">
              <a class="btn btn-info pull-right" href="/events/new">Add an Event</a>
            </div>
            <% end %>
            <div id="filterrific_results">
              <%= render(
                partial: 'layouts/month_cal',
                locals: { events: @events }
              ) %>
            </div>
          </div>
          <div class="col-md-4">
              <div class="panel-date">
                <% if current_page?(new_event_path) %>
                  <h3 class="new-event">Add Event</h3>
                <% end %>
              </div>
              <div class="panel panel-default filled calendar-sidebar">
                <div class="panel-body">
                  <%= yield %>
                </div>
              </div>
            <%= render 'ads/rectangle1' if mobile_device? %>
            <%= render 'ads/rectangle2' if mobile_device? %>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%= render 'layouts/navbottom' %>
    </footer>
  </body>
</html>
