<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container-fluid main">
        <%= render 'layouts/messages' %>
        <div class="row">
          <div class="col-md-8">
            <%# calendar sorting no categories for now %>
            <% if false %>
            <select class="form-control pull-left calendar-filter" disabled>
              <option>Filter Events by Category</option disabled>
            </select>
            <% end %>
            <% if user_signed_in? && !current_user.orgs.empty? %>
              <a class="btn btn-info pull-right calendar-create" href="/events/new">Add an Event</a>
            <% end %>
            <% @events = Event.all %>
            <%= month_calendar(attribute: :start_date, end_attribute: :end_date, events: @events) do |d, meetings| %>
              <div class="date" data-date="<%= "#{d.strftime("%Y-%m-%d")}" %>">
                <span class="date-num"><%= d.day %></span>
                <span class="mobile-weekday">
                  <% weekdays = %w[Sunday Monday Tuesday Wednesday Thursday Friday Saturday] %>
                  <%= weekdays[d.wday] %>
                </span>
              </div>
              <% meetings.take(3).each do |event| %>
                <div class="calendar-event">
                  <%= link_to event.title, event, class: 'event-link' %>
                </div>
              <% end %>
              <% if meetings.length > 3 %>
                <div class="more-events">
                  More (<%= meetings.length - 3 %>)
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="col-md-4">
              <div class="panel-date">
                <% if current_page?(new_event_path) %>
                  <h3 class="new-event">Add Event</h3>
                <% end %>
              </div>
              <div class="panel panel-default filled calendar-sidebar">
                <div class="panel-body">
                  <%= yield %>
                </div>
              </div>
            <%= render 'ads/rectangle1' if mobile_device? %>
            <%= render 'ads/rectangle2' if mobile_device? %>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%= render 'layouts/navbottom' %>
    </footer>
  </body>
</html>
